.main {
  width: 100%;
  font-size: 12px; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.button-ongreen {
  font-size: 2em;
  line-height: 1.5em;
  height: 40px;
  max-width: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.25em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: 300;
  color: white;
  background-color: rgba(129, 228, 194, 0);
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button-ongreen:hover {
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.homepage-header {
  background-color: #52cd72; }
  .homepage-header h1 {
    color: #fcfcfc;
    font-family: 'Yellowtail';
    font-size: 5em;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 0.25em; }
    @media (min-width: 640px) {
      .homepage-header h1 {
        font-size: 7em; } }
    @media (min-width: 960px) {
      .homepage-header h1 {
        font-size: 7em; } }
  .homepage-header h2 {
    color: #fcfcfc;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin: 0; }
    @media (min-width: 640px) {
      .homepage-header h2 {
        font-size: 1.5em; } }
    @media (min-width: 960px) {
      .homepage-header h2 {
        font-size: 1.5em; } }
  .homepage-header .center-attention {
    margin: 0 auto;
    max-width: 80em; }
  .homepage-header .logo {
    margin: 0 auto;
    width: 200px;
    height: 200px; }
    @media (min-width: 640px) {
      .homepage-header .logo {
        width: 300px;
        height: 300px; } }
    @media (min-width: 960px) {
      .homepage-header .logo {
        width: 300px;
        height: 300px; } }
    .homepage-header .logo img {
      max-width: 100%;
      max-height: 100%; }
  .homepage-header .height-filler {
    height: auto;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto; }
    @media (min-width: 640px) {
      .homepage-header .height-filler {
        height: 13em; } }
    @media (min-width: 960px) {
      .homepage-header .height-filler {
        height: 15em; } }
  .homepage-header .height-filler-top {
    height: 5em;
    position: relative; }

.form-email {
  margin: 0 auto;
  width: 310px; }
  .form-email .email-input {
    width: 300px;
    border: 5px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    height: 1.5em;
    color: #808080; }
  .form-email .submit-email {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    border: none;
    width: 300px; }
  .form-email .download-button {
    margin-top: 0.25em; }
  .form-email input:focus {
    outline-width: 0; }

.intro-text .center-attention {
  margin: 0 auto;
  max-width: 80em; }
.intro-text .two-collumn {
  color: #424242;
  margin: 0 auto;
  display: block; }
  .intro-text .two-collumn .panel {
    margin: 0 auto;
    padding: 1em;
    max-width: 40em; }
    .intro-text .two-collumn .panel h1 {
      font-size: 2.0em; }
      @media (min-width: 640px) {
        .intro-text .two-collumn .panel h1 {
          font-size: 2.5em; } }
    .intro-text .two-collumn .panel h2 {
      font-size: 0.7em; }
      @media (min-width: 280px) {
        .intro-text .two-collumn .panel h2 {
          font-size: 1em; } }
      @media (min-width: 640px) {
        .intro-text .two-collumn .panel h2 {
          font-size: 1.5em; } }
    @media (min-width: 960px) {
      .intro-text .two-collumn .panel {
        float: left;
        padding: 1em; } }
  @media (min-width: 960px) {
    .intro-text .two-collumn {
      display: table; } }

.download-button {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 2.25em;
  margin-top: 1.5em;
  padding: 0.5em;
  font-weight: 300;
  color: white;
  background-color: #fbbb77;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .download-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.aloha {
  background-size: cover;
  background: url(../img/beach.jpg) no-repeat center center; }
  .aloha h1 {
    color: #313131;
    font-family: 'Yellowtail';
    font-size: 5em;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.25em; }
    @media (min-width: 640px) {
      .aloha h1 {
        font-size: 7em; } }
    @media (min-width: 960px) {
      .aloha h1 {
        font-size: 7em; } }
  .aloha .center-attention {
    margin: 0 auto;
    max-width: 80em;
    height: 30em; }
    .aloha .center-attention .center {
      margin: 0 auto;
      line-height: 6em; }
      @media (min-width: 640px) {
        .aloha .center-attention .center {
          line-height: 5.5em; } }
      @media (min-width: 960px) {
        .aloha .center-attention .center {
          line-height: 7em; } }
  @media (min-width: 640px) {
    .aloha {
      height: 40em; } }
  @media (min-width: 960px) {
    .aloha {
      height: 50em; } }

.use-case {
  padding: 1em;
  margin-bottom: 2em; }
  .use-case h1 {
    color: #313131;
    font-family: 'Yellowtail';
    font-size: 5em;
    line-height: 2em;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.25em; }
  .use-case h2 {
    font-size: 1.25em;
    text-align: center; }
    @media (min-width: 640px) {
      .use-case h2 {
        font-size: 1.5em; } }
    @media (min-width: 960px) {
      .use-case h2 {
        font-size: 2em; } }
  .use-case p {
    font-size: 1.25em;
    margin-bottom: 2em; }
  .use-case .center-attention {
    margin: 0 auto;
    max-width: 80em; }
    .use-case .center-attention .center {
      margin: 0 auto; }

.how-to h1 {
  color: #313131;
  font-family: 'Yellowtail';
  font-size: 5em;
  line-height: 2em;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.25em; }
.how-to .center-attention {
  margin: 0 auto;
  max-width: 80em;
  height: 30em; }
  .how-to .center-attention .center {
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
