extends layout
block content
    .main
        .homepage-header
            .height-filler-top
            .center-attention
                .logo.animated.rubberBand
                    img(src="/img/logo.png")
                h1 Oahu
                h2 Solve big world problems with little effort
            .height-filler 
                .button-ongreen Do your part
                .button-ongreen Develop on platform
        .intro-text
            .center-attention
                .two-collumn
                    .panel
                        i.fa.fa-tasks
                        h1 Crowdsource a supercomputer from your browser.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat suscipit enim, ac pulvinar velit lacinia eu. Sed volutpat ante sed eros auctor, quis ullamcorper nunc fringilla. Donec sed neque sed risus aliquam ullamcorper vitae sit amet lacus. Proin a velit sit amet mauris iaculis congue nec nec magna. Nulla porta congue ipsum, eu posuere est fermentum vitae.
                        h2 All it takes is a browser extension.
                        .download-button
                            h2.center Download Oahu from the Chrome Web Store
        .aloha
            .center-attention
                h1.center Aloha!
        .use-case
            .center-attention
                h1.center Uses for Oahu
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat suscipit enim, ac pulvinar velit lacinia eu. Sed volutpat ante sed eros auctor, quis ullamcorper nunc fringilla. Donec sed neque sed risus aliquam ullamcorper vitae sit amet lacus. Proin a velit sit amet mauris iaculis congue nec nec magna. Nulla porta congue ipsum, eu posuere est fermentum vitae.
                h2.center It would take a single computer 194 hours to parse all the Wikipedia articles.
                h2.center Oahu did that in 2.
        .how-to
            .center-attention
                h1.center How to Oahu