extends layout
block content
    .main
        .homepage-header
            .height-filler-top
            .center-attention
                .logo.animated.rubberBand
                    img(src="/img/logo.png")
                h1 Oahu
                h2 Solve big world problems with little effort
            .height-filler 
                .button-ongreen Do your part
                a.button-ongreen(href="/login") Develop on platform
        .aloha
            .center-attention
                h1.center Aloha