doctype html
html(lang="en")
  head
    title= "Title Page"
    script(src='//localhost:35729/livereload.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Jade - node template engine